__pycache__/
*.pyc
*.log
path.txt
node_modules/
.env
.env.example
venv/
data/audio/common_voice/*/clips/
data/audio/common_voice/*/*.tar
data/audio/common_voice/*/*.tar.gz
!data/audio/common_voice/*/validated_sentences.tsv
!data/audio/common_voice/*/train.tsv
!data/audio/common_voice/*/test.tsv
test_audio/  # Add this line
Folder structure.txt